Source: ycash
Section: utils
Priority: optional
Maintainer: Ycash Foundation <info@ycash.xyz>
Homepage: https://ycash.xyz
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/ycashfoundation/ycash.git
Vcs-Browser: https://github.com/ycashfoundation/ycash

Package: ycash
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Ycash is a privacy-focused cryptocurrency, a friendly fork of Zcash
 Ycash is a friendly fork of Zcash, designed to maintain the same privacy
 properties as Zcash (using zk-SNARKs for shielded transactions) while
 pursuing a different governance and emission schedule. Based on Bitcoin's
 design and the Zerocash protocol, it offers a high standard of privacy and
 anonymity through a sophisticated zero-knowledge proving scheme.
 This package provides the daemon, ycashd, and a CLI tool, ycash-cli,
 to interact with the daemon.
